/*
* @Author: lushijie
* @Date:   2016-10-09 15:05:03
* @Last Modified by:   lushijie
* @Last Modified time: 2016-10-09 15:23:13
*/
.btn {
    margin-left: 20px;
    cursor: pointer;
    vertical-align: middle;
}
